.text-inherit{
	color: inherit !important;
}

.min-height-100vh{
	min-height: 100vh;
}

.form-control{
	background-clip: border-box;
}

.no-resize{
	resize: none !important;
}

.cursor-pointer{
	cursor: pointer;
}

.form-control[type="date"]{
	appearance: none;
	&::-webkit-calendar-picker-indicator{
		display: none;
	}
}

textarea.form-control{
	min-height: 3rem;
	height: 4rem;
	max-height: 6rem;
}

.input-group-append{
	margin-left: 0;
}

.input-group.is-invalid ~ .invalid-feedback{
	display: inline-block;
	width: auto;
}

.nav-pills .nav-link.active{
	background: #2dce89;
	color: #fff;
}

.droppable-excluir{
	color: #fff;
	min-height: 100px;
	transition: all .2s;
	border-radius: 8px;
	border: 2px dashed rgba(255,255,255,.75);
	background: rgba(255,255,255,.25);
}
.droppable-excluir li{
	display: none !important;
}
.droppable-excluir.hover{
	color: #fff;
	border-color: #f5365c;
	background: #f5365c;
}

li{
	list-style: none;
}

.opacity-25{
	opacity: .25;
}
.opacity-50{
	opacity: .50;
}
.opacity-75{
	opacity: .75;
}

.scroll-y{
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.table th, .table td{
	padding: 0.5rem;
}
.table-hover tbody tr:hover{
	background-color: $secondary;
}

.fixed-alert{
	position: fixed;
	z-index: 99;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	margin: auto;
}
.alert .alert-inner--icon{
	margin-right: 0.75rem;
}

.left-side{
	max-width: 500px;
}

.search-button{
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	cursor: pointer;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
	transition: all 0.15s ease;
	&:hover{
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	}
}